<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="style.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.dataTables.min.css">
    <script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>

    <link type="text/css" rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{https://cdn.datatables.net/searchpanes/2.3.2/css/searchPanes.dataTables.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{https://cdn.datatables.net/select/2.1.0/css/select.dataTables.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css}" />
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>
    <title>Activity Register Page</title>
</head>

<style>
#map {
  height: 500px;
  width: 100%;
}
html, body {
min-height: 100%;
}
body, div, form, input, select, p {
padding: 0;
margin: 0;
outline: none;
font-family: Roboto, Arial, sans-serif;
font-size: 14px;
color: #666;
line-height: 22px;
}
h1 {
position: absolute;
margin: 0;
font-size: 36px;
color: #fff;
z-index: 2;
}
span.required {
color: red;
}
.testbox {
display: flex;
justify-content: center;
align-items: center;
height: inherit;
padding: 20px;
}
form {
width: 100%;
padding: 20px;
border-radius: 6px;
background: #fff;
box-shadow: 0 0 1px 0 black;
}
input, select {
margin-bottom: 10px;
border: 1px solid #ccc;
border-radius: 3px;
}
input {
width: calc(100% - 10px);
padding: 5px;
}
select {
width: 100%;
padding: 7px 0;
background: transparent;
}
.item:hover p, .question:hover p, .question label:hover, input:hover::placeholder {
color: #095484;
}
.item input:hover, .item select:hover {
border: 1px solid transparent;
box-shadow: 0 0 1px 0 black;
color: #095484;
}
.item {
position: relative;
margin: 10px 0;
}
.question input {
width: auto;
margin: 0;
border-radius: 50%;
}
.question input, .question span {
vertical-align: middle;
}
.question label {
display: inline-block;
margin: 5px 20px 15px 0;
}
.btn-block {
margin-top: 10px;
text-align: center;
}
button {
width: 150px;
padding: 10px;
border: none;
border-radius: 5px;
background: #095484;
font-size: 16px;
color: #fff;
cursor: pointer;
}
button:hover {
background: #0666a3;
}
@media (min-width: 568px) {
.name-item, .city-item {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
.name-item input, .city-item input {
width: calc(50% - 20px);
}
.city-item select {
width: calc(50% - 8px);
}
}

button:disabled {
    background-color: grey; /* Change background color to grey */
    color: white;           /* Change text color to white */
    cursor: not-allowed;    /* Change cursor to indicate it's disabled */
}
.search-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#activityForm{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
p{
    margin-bottom: 0rem !important;
}
</style>
<body>
<nav>
    <div class="logo-name">
        <div class="logo-image">
            <img src="images/logo.png" alt="" />
        </div>

        <span class="logo_name">HKUST ISOM Club PSSUS</span>
    </div>
    <div class="menu-items" th:if="${right == 'STUDENT'}">
        <ul class="nav-links">
            <li><a href="/users">
                <i class="uil uil-estate"></i>
                <span class="link-name">Dashboard</span>
            </a></li>
            <li><a href="/searchPanel">
                <i class="uil uil-search"></i>
                <span class="link-name">Create Campaign</span>
            </a></li>
            <li><a href="/triggerReport" target="_blank" rel="noopener noreferrer">
                <i class="uil uil-files-landscapes"></i>
                <span class="link-name">Print Monthly Statement</span>
            </a>
            </li>
        </ul>
        <ul class="logout-mode">
            <li><a href="#">
                <i class="uil uil-user"></i>
                <span class="link-name" th:text="${user}"></span>
            </a></li>
            <li>
                <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Sign Out</span>
                </a>
                <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;">
                    <input type="hidden" name="_method" value="post" />
                </form>
            </li>
        </ul>
    </div>
    <div class="menu-items" th:if="${right == 'ADMIN'}">
        <ul class="nav-links">
            <li><a href="/users">
                <i class="uil uil-estate"></i>
                <span class="link-name">Dashboard</span>
            </a></li>
            <li><a href="/adminReport" target="_blank" rel="noopener noreferrer">
                <i class="uil uil-files-landscapes"></i>
                <span class="link-name">Print Managerial Report</span>
            </a>
            </li>
        </ul>
        <ul class="logout-mode">
            <li><a href="#">
                <i class="uil uil-user"></i>
                <span class="link-name" th:text="${user}"></span>
            </a></li>
            <li>
                <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Sign Out</span>
                </a>
                <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;">
                    <input type="hidden" name="_method" value="post" />
                </form>
            </li>
        </ul>
    </div>
</nav>
<div id="alertContainer" class="mt-3"></div>
<section class="dashboard">
    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>
    </div>
    <div class="dash-content">
        <div class="search-header">
            <h6 class="mb-0" style="margin-left: 7px;font-size:14px;">Booking Detail</h6>
        </div>
        <form id="activityForm" name="activityForm" th:action="${bookingRecord != null && bookingRecord.email != student.email ? 'actJoin' : 'actReg'}" method="POST">
        <input id="scheduleId" type="hidden" name="name" th:value="${scheduleId}"/>
        <input id="bookingRecordId" type="hidden" name="name" th:if="${bookingRecord != null}" th:value="${bookingRecord.booking_Id}"/>
            <div class="item">
            <p>Host Name<span >*</span></p>
            <div th:if="${bookingRecord == null}">
               <div class="name-item">
                <input type="text" id="firstName" name="name" th:value="${student.firstName}" placeholder="First" disabled/>
                <input type="text" id="lastName" name="name" th:value="${student.lastName}" placeholder="Last" disabled/>
               </div>
            </div>
            <div th:if="${bookingRecord != null}">
               <div class="name-item">
                <input type="text" id="firstName" name="name" th:value="${bookingRecord.first_Name}" placeholder="First" disabled/>
                <input type="text" id="lastName" name="name" th:value="${bookingRecord.last_Name}" placeholder="Last" disabled/>
               </div>
            </div>
        </div>
        <div class="item">
            <p>Student ID<span>*</span></p>
            <div th:if="${bookingRecord != null}">
                <input id="studentId" type="text" name="name" th:value="${bookingRecord.student_Id}" disabled/>
            </div>
            <div th:if="${bookingRecord == null}">
                <input id="studentId" type="text" name="name" th:value="${student.studentId}" disabled/>
            </div>
        </div>
        <div class="item">
            <p>Campaign Detail<span >*</span></p>
            <div th:if="${bookingRecord != null}">
                <input id="campaignDetail" type="text" name="name" th:value="${bookingRecord.campaign_Detail}" disabled/>
            </div>
            <div th:if="${bookingRecord == null}">
                <input id="campaignDetail" type="text" name="name" required/>
            </div>
        </div>
        <div class="item">
            <p>Campaign Remark<span >*</span></p>
            <div th:if="${bookingRecord != null}">
                <input id="campaignRemark" type="text" name="name" th:value="${bookingRecord.campaign_Remark}" disabled/>
            </div>
            <div th:if="${bookingRecord == null}">
                <input id="campaignRemark" type="text" name="name" required/>
            </div>
        </div>
        <div class="item">
            <p>Expected Number of people come</p>
            <div th:if="${bookingRecord == null}">
                <input id="joinPerson" type="number" name="name" required/>
            </div>
            <div th:if="${bookingRecord != null}">
               <input id="joinPerson" type="number" name="name" th:value="${bookingRecord.join_person}" disabled/>
             </div>
        </div>
       <p>Confirm Joiner</p>
         <table id="joinerCampaign" class="table table-striped">
             <thead>
             <tr>
                 <th>email</th>
                 <th>first name</th>
                 <th>last name</th>
                 <th>student id</th>
             </tr>
             </thead>
         </table>
            <div class="item">
               <p>Email<span >*</span></p>
                  <div th:if="${bookingRecord != null}">
                      <input id="email" type="email" th:value="${bookingRecord.email}" disabled/>
                  </div>
                  <div th:if="${bookingRecord == null}">
                      <input id="email" type="email" th:value="${student.email}" disabled/>
                  </div>
               </div>
            <div class="item">
              <p>Contact Phone<span >*</span></p>
                <div th:if="${bookingRecord != null}">
                    <input id="phone" type="number" name="name" th:value="${bookingRecord.phone}" disabled/>
                </div>
                <div th:if="${bookingRecord == null}">
                    <input id="phone" type="number" name="name" th:value="${student.phone}" disabled/>
                </div>
            </div>
            <div class="item">
             <p>Booking Time Slot</p>
                <div class="name-item">
                    <input type="text" id="startTime" th:value="${schedules.session_start_time}" placeholder="Start Time" disabled />
                    to
                    <input type="text" id="endTime" th:value="${schedules.session_end_time}" placeholder="End Time" disabled />
                </div>
            </div>
            <div class="item">
                <p>Booking Avaliable Date</p>
                <input type="text" id="Avaliable Date" th:value="${schedules.available_date}" placeholder="Avaliable Date" disabled />
            </div>
            <div class="item">
                <p>Venue Phone Number</p>
                <input type="text" id="Venue Contact Phone" th:value="${schedules.venue_phone_no}" placeholder="Venue Contact Phone" disabled />
            </div>

        <div class="item">
            <p>Booking Venue</p>
            <div class="city-item">
                <input type="text" id="addrLn2" th:value="${schedules.venue_name_en} + ' (' + ${schedules.venue_name_tc} + ')'" placeholder="Chinese Address" disabled />
                <input type="text" id="addrLn1" th:value="${schedules.venue_address_en} + ' (' + ${schedules.venue_address_tc} + ')' " placeholder="Address" disabled />
                <input type="text" id="addrLn3" th:value="${schedules.facility_location_name_en} + ' ' + ${schedules.facility_location_name_tc}" placeholder="loc" disabled/>
            </div>
            <div class="item">
                <p>Map Location</p>
                <div id="map"></div>
            </div>
        </div>
        <div class="question">
            <p>Do you require a trainer? (Sport Consultant from HKUST, free for charge)</p>
            <div th:if="${bookingRecord != null}">
            <div class="question-answer">
                <div th:if="${bookingRecord.personal_trainer == 'Y'}">
                <label><input type="radio" value="Y" name="personalTrainer" checked disabled/><span>Yes</span></label>
                <label><input type="radio" value="N" name="personalTrainer" disabled/><span>No</span></label>
                </div>
                <div th:if="${bookingRecord.personal_trainer == 'N'}">
                 <label><input type="radio" value="Y" name="personalTrainer" disabled/><span>Yes</span></label>
                 <label><input type="radio" value="N" name="personalTrainer" checked disabled/><span>No</span></label>
                </div>
            </div>
            </div>
            <div th:if="${bookingRecord == null}">
               <div class="question-answer">
                   <label><input type="radio" value="Y" name="personalTrainer" required/><span>Yes</span></label>
                   <label><input type="radio" value="N" name="personalTrainer" required/><span>No</span></label>
               </div>
            </div>
        </div>
        <div class="btn-block" th:if="${student.right == 'ADMIN' && bookingRecord != null}">
            <button type="button" id="approve">Approve</button>
            <button type="button" id="reject">Reject</button>
        </div>
        <div class="btn-block" th:if="${student.right == 'STUDENT' && bookingRecord == null}">
            <button type="submit" id="apply">Apply</button>
        </div>
        <div class="btn-block" th:if="${student.right == 'STUDENT' && bookingRecord != null && bookingRecord.email != student.email && !isJoined}">
            <button type="submit" id="join">Join</button>
        </div>
        <div class="btn-block">
            <button type="button" id="backButton" style="background-color:grey;">Back Home</button>
        </div>
        </form>
    </div>
</section>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script th:inline="javascript">
    function initMap() {
        const latitude = parseFloat([[${schedules.venue_latitude}]]);
        const longitude = parseFloat([[${schedules.venue_longitude}]]);
        const coordinates = { lat: latitude, lng: longitude };
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 16,
            center: coordinates,
        });
        const marker = new google.maps.Marker({
            position: coordinates,
            map: map,
            title: "Venue Location",
        });
    }
    window.onload = initMap;

    $(document).ready(function() {

        function handleActivity(action, isFormSubmit = false) {
            const activityForm = {
                booking_Id: $('#bookingRecordId').val(),
                first_Name: $('#firstName').val(),
                last_Name: $('#lastName').val(),
                student_Id: $('#studentId').val(),
                join_person: $('#joinPerson').val(),
                email: $('#email').val(),
                phone: $('#phone').val(),
                personal_trainer: $('input[name="personalTrainer"]:checked').val(),
                campaign_Detail: $('#campaignDetail').val(),
                campaign_Remark: $('#campaignRemark').val(),
                start_Time: $('#startTime').val(),
                end_Time: $('#endTime').val(),
                schedule_id: $('#scheduleId').val()
            };

            if (isFormSubmit) {
                $('#apply').prop('disabled', true);
                $('#join').prop('disabled', true);
            }

            $.ajax({
                type: 'POST',
                url: action,
                contentType: 'application/json',
                data: JSON.stringify(activityForm),
                dataType: 'json',
                success: function(response) {
                    const title = response.success ? 'Success!' : 'Error!';
                    const icon = response.success ? 'success' : 'error';

                    Swal.fire({
                        title: title,
                        text: response.message,
                        icon: icon,
                        confirmButtonText: 'Return'
                    }).then((result) => {
                        if (response.success && result.isConfirmed) {
                            window.location.href = '/users';
                        } else if (!response.success) {
                            $('#apply').prop('disabled', false);
                            $('#join').prop('disabled', false);
                        }
                    });
                },
                error: function(response) {
                    Swal.fire({
                        title: 'Fail!',
                        text: JSON.parse(response.responseText).message,
                        icon: 'error',
                        confirmButtonText: 'Return'
                    });
                    $('#apply').prop('disabled', true);
                    $('#join').prop('disabled', true);
                }
            });
        }

        $('#backButton').click(function() {
            window.location.href = '/users';
        });

        $('#approve').click(function() {
            handleActivity('approve');
        });

        $('#reject').click(function() {
            handleActivity('reject');
        });

        $('#activityForm').on('submit', function(event) {
            event.preventDefault();
            handleActivity($(this).attr('action'), true);
        });
        var bookingRecord = [[${bookingRecord == null ? '0' : bookingRecord.booking_Id}]];
        $('#joinerCampaign').DataTable({
            "sAjaxSource": "/getJoinerOfEvent?bookingId=" + bookingRecord,
            "sAjaxDataProp": "",
            "order": [[ 0, "asc" ]],
            "columns": [
                { "data": "email"},
                { "data": "firstName"},
                { "data": "lastName"},
                { "data": "studentId"}
            ],
            "columnDefs": [],
            responsive:true,
            "searching": false,
            "pageLength": 10,
            "lengthChange": false ,
            "paging": false,
            "language": {
                "info": "",
                "infoEmpty": ""
            },
            layout: {
                top1: {
                    searchPanes: {
                        viewTotal: true
                    }
                }
            }
        });
    });
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="script.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnbMnePbkia7Uu2PeRoHf9V3gHKqmKYks"></script>
</html>