<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link rel="stylesheet" href="style.css"/>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link type="text/css" rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" />
  <link type="text/css" rel="stylesheet" th:href="@{https://cdn.datatables.net/searchpanes/2.3.2/css/searchPanes.dataTables.css}" />
  <link type="text/css" rel="stylesheet" th:href="@{https://cdn.datatables.net/select/2.1.0/css/select.dataTables.css}" />
  <link type="text/css" rel="stylesheet" th:href="@{https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css}" />
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>

  <title>Admin Dashboard Panel</title>
</head>
<body>
<nav>
  <div class="logo-name">
    <div class="logo-image">
      <img src="images/logo.png" alt="" />
    </div>

    <span class="logo_name">HKUST ISOM PSSUS</span>
  </div>

  <div class="menu-items">
    <ul class="nav-links">
      <li><a href="/users">
        <i class="uil uil-estate"></i>
        <span class="link-name">Dashboard</span>
      </a></li>
      <li><a href="/searchPanel">
        <i class="uil uil-estate"></i>
        <span class="link-name">Find Soccer Pitch</span>
      </a></li>
      <li><a href="/triggerReport" target="_blank" rel="noopener noreferrer">
        <i class="uil uil-files-landscapes"></i>
        <span class="link-name">Print Report</span>
      </a>
      </li>
    </ul>
    <ul class="logout-mode">
      <li><a href="#">
        <i class="uil uil-user"></i>
        <span class="link-name" th:text="${user}"></span>
      </a></li>
      <li>
        <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
          <i class="uil uil-signout"></i>
          <span class="link-name">Sign Out</span>
        </a>
        <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;">
          <input type="hidden" name="_method" value="post" />
        </form>
      </li>
    </ul>
  </div>
</nav>

<section class="dashboard">
  <div class="top">
    <i class="uil uil-bars sidebar-toggle"></i>
  </div>

  <div class="dash-content">
    <div class="overview">
      <div class="title">
        <i class="uil uil-tachometer-fast-alt"></i>
        <span class="text">Dashboard</span>
      </div>

      <div class="boxes">
        <div class="box box1">
          <i class="uil uil-money-bill"></i>
          <span class="text">Quota</span>
          <span class="number">$</span>
        </div>
        <div class="box box2">
          <i class="uil uil-calendar-alt"></i>
          <span class="text">Total available event</span>
          <span class="number">
            <div th:text="${avaliableSoccerSize}"></div>
          </span>
        </div>
        <div class="box box3">
          <i class="uil uil-bell"></i>
          <span class="text">Your event</span>
          <span class="number">
          <div th:text="${youreventsize}"></div>
          </span>
        </div>
      </div>
    </div>

    <div class="activity">
      <div class="title">
        <i class="uil uil-clock-three"></i>
        <span class="text">My Recent Created Campaign</span>
      </div>
    </div>
    <div class="activity-data">
      <table id="myActivity" class="table table-striped">
        <thead>
        <tr>
          <th>Booking ID</th>
          <th>Campaign Detail</th>
          <th>Schedule Available Date</th>
          <th>Schedule Location</th>
          <th>Schedule Start Time</th>
          <th>Schedule End Time</th>
          <th>Activity Status</th>
        </tr>
        </thead>
      </table>
    </div>

    <div class="activity">
      <div class="title">
        <i class="uil uil-clock-three"></i>
        <span class="text">Quick View for Available Court</span>
      </div>
    </div>
      <div class="activity-data">
        <table id="avaliableCourt" class="table table-striped">
          <thead>
          <tr>
            <th>Register?</th>
            <th>Venue Name</th>
            <th>Facility Name</th>
            <th>Available Date</th>
            <th>Session Start Time</th>
            <th>Session End Time</th>
            <th>Avaliable Court</th>
          </tr>
          </thead>
        </table>
      </div>

  </div>
</section>

<script>
  $(document).ready(function() {

    $('#myActivity').DataTable({
      "sAjaxSource": "/getRegisterActivity",
      "sAjaxDataProp": "",
      "order": [[ 0, "asc" ]],
      "columns": [
        { "data": "booking_Id"},
        { "data": "campaign_Detail"},
        { "data": "available_date"},
        { "data": "venue_Name_En"},
        { "data": "session_start_time"},
        { "data": "session_end_time"},
        { "data": "status_code"}
      ],
      "columnDefs": [
        {
          "targets": 0,
          "render": function(data, type, row) {
            return `<a href="/activityDetail?bookingId=${data}">Click</a>`;
          }
        }
      ],
      layout: {
        top1: {
          searchPanes: {
            viewTotal: true
          }
        }
      }
    });

    $('#avaliableCourt').DataTable({
      "sAjaxSource": "/getRecentAvaSch",
      "sAjaxDataProp": "",
      "order": [[ 0, "asc" ]],
      "columns": [
        { "data": "id"},
        { "data": "venue_name_en"},
        { "data": "facility_type_name_en"},
        { "data": "available_date"},
        { "data": "session_start_time"},
        { "data": "session_end_time"},
        { "data": "available_courts"}
      ],
      "columnDefs": [
        {
          "targets": 0,
          "render": function(data, type, row) {
            return `<a href="/activityDetail?id=${data}">Click</a>`;
          }
        }
      ],
      layout: {
        top1: {
          searchPanes: {
            viewTotal: true
          }
        }
      }
    });

      $('#generateReportBtn').on('click', function(event) {
        event.preventDefault();
        $.ajax({
          url: '/triggerReport',
          type: 'GET',
          contentType: 'application/json',
          success: function(response) {
            alert('Report triggered successfully: ' + response.message);
          },
          error: function(xhr) {
            alert('Error triggering report: ' + xhr.statusText );
          }
        });
      });

  });
</script>

<script src="script.js"></script>
</body>
</html>