<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>HKUST PSSUS</title>
  <link rel="stylesheet" href="style_index.css">
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
<style>
	.form-group {
		display: flex !important;
		margin-bottom: 15px;
	}

	.form-group input {
		width: 400%;
		margin-right: 20px;
	}

	.form-group input:last-child {
		margin-right: 0;
	}

	.input-field {
		margin-right: 10px !important;
	}
</style>
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="style_index.css" />
	<title>Sign in & Sign up Form</title>
</head>

<body>
	<div class="container">
		<div class="forms-container">
			<div class="signin-signup">
				<form name="f" action="login" method="POST" class="sign-in-form">
					<img src="/images/logo-hkust-sbm.svg" class="image" alt="sbm logo" style="height:100px !important; width:150px!important;"/>
					<p class="social-text">HKUST ISOM Club Public Soccer(Activity Register) Sign Up System(PSSUS)</p>
					<h2 class="title">Sign in</h2>
					<div th:if="${error}" th:text="${error}" ></div>
					<div class="input-field">
						<i class="fas fa-user"></i>
						<input type="email" name="email" placeholder="Email" required="true" />
					</div>
					<div class="input-field">
						<i class="fas fa-lock"></i>
						<input type="password" name="password" placeholder="Password" required="true"/>
					</div>
					<input type="submit" value="Login" class="btn solid" />
				</form>
				<form id="signupForm" th:action="@{/process_register}" th:object="${user}" method="post" class="sign-up-form">
					<h2 class="title">Sign up</h2>
					<div class="form-group">
						 <div class="input-field">
							 <i class="fas fa-envelope"></i>
						     <input type="email" th:field="*{email}" class="form-control" placeholder="Email" required="true"/>
						 </div>
						 <div class="input-field">
							 <i class="fas fa-lock"></i>
						   <input type="password" th:field="*{password}" class="form-control"  placeholder="Password"  required="true"/>
						 </div>
					</div>
					<div class="form-group">
						<div class="input-field">
							<i class="fas fa-user-circle"></i>
							<input type="text" th:field="*{firstName}" class="form-control" placeholder="First Name" required="true" max="20" />
						</div>
						<div class="input-field">
							<i class="fas fa-user-tie"></i>
							<input type="text" th:field="*{lastName}" class="form-control" placeholder="Last Name" required="true" max="20" />
						</div>
					</div>
					<div class="form-group">
					   <div class="input-field">
						   <i class="fas fa-id-card"></i>
					   	   <input type="text" th:field="*{studentId}" class="form-control" placeholder="&nbsp;&nbsp;&nbsp;SID" required="true" max="10"/>
					   </div>
					   <div class="input-field">
						   <i class="fas fa-phone"></i>
					   	   <input type="text" th:field="*{phone}" class="form-control" placeholder="&nbsp;&nbsp;&nbsp;Phone" required="true" min="8" max="8"/>
					   </div>
					   <div class="input-field">
						   <i class="fas fa-book"></i>
					   	   <input type="text" th:field="*{studyYear}" class="form-control" placeholder="&nbsp;&nbsp;&nbsp;Year" required="true" max="2" />
					   </div>
					</div>
					<p><b>Program</b></p>
					<div class="form-group">
							<select id="program" th:field="*{program}" required="true">
								<option value="" disabled selected>Select a program</option>
								<option value="MSCISM">MSCISM</option>
								<option value="MSCGO">MSCGO</option>
								<option value="MSCBA">MSCBA</option>
								<option value="BBAIM">BBAIM</option>
								<option value="MBA">MBA</option>
							</select>
				    </div>
					<p class="social-text"><b>Disclaimer</b>: Upon each activity/campaign created by your account, our staff will directly help program registration to LCSD. We urge you to carefully consider your decision, as results are final and cannot be reversed. Payments made will be directed to LCSD and are non-refundable. Thank you for your attention.</p>
					<input type="submit" class="btn" value="Sign up" />
				</form>
			</div>
		</div>

		<div class="panels-container">
			<div class="panel left-panel">
				<div class="content">
					<h3>New here ?</h3>
					<p>
						Join HKUST ISOM Club PSSUS , more than 500 soccer pitches which under management of LCSD schedule awaits you for register.
						3000 Credits will be gained for Member each month. 1 Credit = 1 HKD
					</p>
					<button class="btn transparent" id="sign-up-btn">
						Sign up
					</button>
				</div>
				<img src="/images/football.png" class="image" alt="" />
			</div>
			<div class="panel right-panel">
				<div class="content">
					<h3>One of us ?</h3>
					<p>
						Login and Create/Join Campaign, enjoy the discount for booking LCSD managed soccer pitches now.
					</p>
					<button class="btn transparent" id="sign-in-btn">
						Sign in
					</button>
				</div>
				<img src="/images/cartoon.png"  class="image" alt="" />
			</div>
		</div>
	</div>
</body>
<script src="script_index.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script>
	$(document).ready(function() {
		$('#program').select2();
		$('#signupForm').on('submit', function(event) {
			event.preventDefault();
			$.ajax({
				url: $(this).attr('action'),
				type: 'POST',
				data: $(this).serialize(),
				dataType: 'json',
				success: function(response) {
					if (response.success) {
						Swal.fire({
							title: 'Success!',
							text: 'Registration Success, please go back to home page.',
							icon: 'success',
							confirmButtonText: 'Return'
						}).then((result) => {
							if (result.isConfirmed) {
								window.location.href = '/login'; // Redirect to home page
							}
						});
					} else {
						Swal.fire({
							title: 'Fail!',
							text: 'Registration Fail, please go back to home page.',
							icon: 'fail',
							confirmButtonText: 'Return'
						}).then((result) => {
							if (result.isConfirmed) {
								window.location.href = '/login'; // Redirect to home page
							}
						});
					}
				},
				error: function(xhr, status, error) {
					// Handle error
					alert('Registration failed: ' + xhr.responseText);
				}
			});
		});
	});
</script>
</html>