<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ISOM5260 - Project</title>
  <link rel="stylesheet" href="/style/style.css" />
</head>
<body>
<div class="wrapper">
  <form name="f" action="login" method="POST">
    <h2>Login</h2>
    <div th:if="${error}" th:text="${error}">

    </div>
    <div class="input-field">
      <input id="email" name="email" type="text" />
      <label>Enter your email</label>
    </div>
    <div class="input-field">
      <input id="password" name="password" type="password" />
      <label>Enter your password</label>
    </div>
    <input th:name="${_csrf.parameterName}" type="hidden" th:value="${_csrf.token}" />
    <button name="submit" type="submit" value="Login">Log In</button>
    <div class="register">
      <p>Don't have an account? <a href="/register">Register</a></p>
    </div>
  </form>
</div>


</body>
</html>