<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataTable Date Search Example</title>
    <link rel="stylesheet" href="style.css"/>
    <script src="script.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link type="text/css" rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{https://cdn.datatables.net/searchpanes/2.3.2/css/searchPanes.dataTables.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{https://cdn.datatables.net/select/2.1.0/css/select.dataTables.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css}" />
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>
    <style>
        .search-panel {
            border: 1px solid #007bff;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            padding: 10px;
            background-color: #f8f9fa;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            margin-top: -5px;
        }
        .search-header {
            background-color: #007bff;
            color: white;
            padding: 5px;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
        }
    </style>
</head>
<body>
<nav>
    <div class="logo-name">
        <div class="logo-image">
            <img src="images/logo.png" alt="" />
        </div>

        <span class="logo_name">HKUST ISOM Club PSSUS</span>
    </div>

    <div class="menu-items">
        <ul class="nav-links">
            <li><a href="/users">
                <i class="uil uil-estate"></i>
                <span class="link-name">Dashboard</span>
            </a></li>
            <li><a href="/searchPanel">
                <i class="uil uil-estate"></i>
                <span class="link-name">Find Soccer Pitch</span>
            </a></li>
            <li><a href="/triggerReport" target="_blank" rel="noopener noreferrer">
                <i class="uil uil-files-landscapes"></i>
                <span class="link-name">Print Report</span>
            </a>
            </li>
        </ul>
        <ul class="logout-mode">
            <li><a href="#">
                <i class="uil uil-user"></i>
                <span class="link-name" th:text="${user}"></span>
            </a></li>
            <li>
                <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Sign Out</span>
                </a>
                <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;">
                    <input type="hidden" name="_method" value="post" />
                </form>
            </li>
            <li class="mode">
                <a href="#">
                    <i class="uil uil-moon"></i>
                    <span class="link-name">Dark Mode</span>
                </a>

                <div class="mode-toggle">
                    <span class="switch"></span>
                </div>
            </li>
        </ul>
    </div>
</nav>
<section class="dashboard">
    <div class="container mt-4">

        <div class="search-header">
            <h5 class="mb-0" style="margin-left: 7px;">Search Criteria</h5>
        </div>
        <div class="search-panel">
            <div class="p-3">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="venueName">Venue Name:</label>
                            <input type="text" class="form-control" id="venueName" placeholder="Filter by venue name" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="distictName">District Name:</label>
                            <select class="form-control" id="distictName" name="distictName">
                                <option value="">Select a district</option>
                                <th:block th:each="district : ${districts}">
                                    <option th:value="${district.district_name_en}"
                                            th:text="${district.district_name_en} + ' (' + ${district.district_name_tc} + ')'"></option>
                                </th:block>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="startDate">Start Date:</label>
                            <input type="date" class="form-control" id="startDate" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="endDate">End Date:</label>
                            <input type="date" class="form-control" id="endDate" />
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="startTime">Start Time:</label>
                            <input type="time" class="form-control" id="startTime" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="endTime">End Time:</label>
                            <input type="time" class="form-control" id="endTime" />
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6 align-self-end">
                        <button id="searchButton" class="btn btn-primary btn-block">Search</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="activity-data">
            <table id="avaliableCourt" class="table table-striped">
                <thead>
                <tr>
                    <th>Register?</th>
                    <th>Venue Name</th>
                    <th>District</th>
                    <th>Facility Name</th>
                    <th>Available Date</th>
                    <th>Session Start Time</th>
                    <th>Session End Time</th>
                    <th>Avaliable Court</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</section>
<script>
    $(document).ready(function() {
        var avaliableCourt = $('#avaliableCourt').DataTable({
            "sAjaxSource": "/getRecentAvaSch",
            "sAjaxDataProp": "",
            "order": [[ 0, "asc" ]],
            "columns": [
                { "data": "id"},
                { "data": "venue_name_en"},
                { "data": "district_name_en"},
                { "data": "facility_type_name_en"},
                { "data": "available_date"},
                { "data": "session_start_time"},
                { "data": "session_end_time"},
                { "data": "available_courts"}
            ],
            "columnDefs": [
                {
                    "targets": 0,
                    "render": function(data, type, row) {
                        return `<a href="/activityDetail?id=${data}">Click</a>`;
                    }
                }
            ]
        });

        $.fn.dataTable.ext.search.push(
            function(settings, data, dataIndex) {
                var startDate = $('#startDate').val();
                var endDate = $('#endDate').val();
                var districtName = $('#distictName').val().toLowerCase();
                var venueName = $('#venueName').val().toLowerCase();
                var startTime = $('#startTime').val();
                var endTime = $('#endTime').val();

                var venue = data[1].toLowerCase();
                var district = data[2].toLowerCase();
                var date = data[4];
                var start = data[5];
                var end = data[6];

                var dateMatch =
                    (startDate === "" && endDate === "") ||
                    (startDate === "" && date <= endDate) ||
                    (startDate <= date && endDate === "") ||
                    (startDate <= date && date <= endDate);

                var venueMatch = venue.includes(venueName);
                var districtMatch = district.includes(districtName);
                var timeMatch =
                    (startTime === "" && endTime === "") ||
                    (startTime === "" && start <= endTime) ||
                    (startTime <= start && endTime === "") ||
                    (startTime <= start && start <= endTime) ||
                    (startTime <= end && end <= endTime);

                return dateMatch && venueMatch && timeMatch && districtMatch;
            }
        );

        $('#searchButton').on('click', function() {
            avaliableCourt.draw();
        });
    });
</script>
</body>
</html>