<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>ISOM5260 - Project</title>
	<link rel="stylesheet" href="/style/style.css" />
</head>
<body>
<div class="wrapper">
	<h2>Sign Up</h2>
	<form name="f" th:action="@{/process_register}" th:object="${user}" method="post">
		<div class="input-container">
		<div class="input-field">
			<input type="email" th:field="*{email}" class="form-control"  required="true"/>
			<label>Enter your email</label>
		</div>
		<div class="input-field">
			<input type="password" th:field="*{password}" class="form-control"  required="true"/>
			<label>Enter your password</label>
		</div>
		</div>
		<div class="input-container">
		<div class="input-field">
			<input type="text" th:field="*{firstName}" class="form-control" required="true" max="20" />
			<label>Enter your first Name</label>
		</div>
		<div class="input-field">
			<input type="text" th:field="*{lastName}" class="form-control" required="true" max="20"/>
			<label>Enter your last Name</label>
		</div>
		</div>
		<div class="input-container">
			<div class="input-field">
				<input type="text" th:field="*{studentId}" class="form-control" required="true" max="10"/>
				<label>Enter your Student ID</label>
			</div>
			<div class="input-field">
				<input type="text" th:field="*{phone}" class="form-control" required="true" min="8" max="8"/>
				<label>Enter your Phone Number</label>
			</div>
			<div class="input-field">
				<input type="text" th:field="*{studyYear}" class="form-control" required="true" max="2" />
				<label>Enter your Study Year</label>
			</div>
			<div class="input-field">
				<input type="text" th:field="*{program}" class="form-control" required="true" min="8" max="8"/>
				<label>Enter your Program Name</label>
				</select>
			</div>
		</div>

		<div>
			<button name="submit" type="submit" value="SignUp">Sign Up</button>
		</div>
	</form>
</div>
</body>
</html>
